<footer class="bg-gray-100">
    <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
        <div class="footer-left mb-12 md:mb-0">
            <h2 class="mb-5 uppercase mb-5 text-lg font-bold">About us</h2>
            <p class="text-gray-700">Lorem Ipsum Blablablabla bla blabla blablabla bla</p>

        </div>

        <div class="footer-right">
            <h2 class="mb-5 uppercase mb-5 text-lg font-bold">Social Links</h2>

            <ul class="space-y-2">
                <li><a class="text-blue-500 hover:text-blue-800" href="">Facebook</a></li>
                <li><a class="text-purple-500 hover:text-purple-800" href="">Instagram</a></li>
                <li><a class="text-black-500 hover:text-gray-600" href="">Twitter</a></li>
            </ul>
        </div>
    </div>
   

</footer>